@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LINESeed";
  src: url("fonts\LINESeedSansTH_Rg.ttf") format("truetype");
}

body {
  font-family: "LINESeed", serif;
}
